@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-image: url(assets/jezael-melgoza-To5wAJDt1IM-unsplash.jpg);
    background-size: cover;
    background-position: top;
}
.active{
  opacity: 1;
  color: #09e7c2;
  text-shadow: 0 0 40px #09e7c2;
}
.teks1{
    width: 80%;
    background: rgba(255, 255, 255, 0.1);
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    font-size: 1.30rem;
    color: #fff;
    margin-top: 50px;
}
.image{
    margin-top: 100px;
    margin-bottom: 100px;
    color: #fff;
}
header{
    border: 2px solid rgba(255, 255, 255, .3);
    width: 100%;
    height: 13vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
  }
  nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }
  nav ul li{
    list-style: none;
  
  }
  nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.15rem;
    line-height: 4.8;
    transition: all 2s ease;
    opacity: 0.5;
    font-weight: 500;
  }
  nav ul li a:hover{
    opacity: 1;
    color: #09e7c2;
    transition: all 0.85s ease;
    text-shadow: 0 0 20px #09e7c2,
    0 0 50px #09e7c2;
  }
  h1{ 
    text-align: center;
    color: #000;
    font-size: 3rem;
    margin-top: 230px;
  }
footer{
    width: 100%;
    height: 10vh;
    background: #00ff95;
    line-height: 4;
}